:root {
   --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-color: #2196f3;
}
body {
  
  font-family: var(--main-font);
}
h1, h2, h3, h4, h5, h6, ul, p {
  margin: 0;
}
p, ul {
  padding: 0;
}
img {
  display: block;
}

.no-decor {
  text-decoration: none;
  list-style-type: none;
}

.container {
  width: 1200px;
  align-items: center;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header, .container, .navigation, .navigation-list {
  display: flex;
  align-items: center;
}

.header, .navigation {
  border-bottom: 1px solid #ececec;
}

.header .logo_white {
  margin-top: 24px;
  margin-right: 93px;
  margin-bottom: 25px;
  margin-left: 0;
}
.navigation-list-item:not(:last-child) {
  margin-right: 46px;
}  
.button {
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.button:hover,
.button:focus {
  background-color: var(--color);
  color: #ffffff;
}

.mainbutton {
  cursor: pointer;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--color);
}

.link:hover,
.link:focus {
  color: var(--color);
}

.ptitle {
  color: #212121;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.ftitle {
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
letter-spacing: 0.03em;
color: #212121;
}

.ititle {
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: #212121;
}

.btitle {
  color: #212121;
}

.container {
  background-color: #ffffff;
}
.background {
  background-color: #2f303a;
}
.section {
  background-color: #e5e5e5;
}

.lowersection {
  background-color: #f5f4fa;
}

.footer {
  background-color: #212121;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
}

.bigtitle {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.figcaption {
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
}